{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "babel-plugin-module-resolver",
            {
                "root": "./",
                "alias": {
                    "~": "./",
                    "components": "./components",
                    "sections": "./sections",
                    "@": "./public"
                },
                "extensions": [".js", ".jsx"]
            }
        ],
        [
            "babel-plugin-styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ]
    ]
}